html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,block,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1; font-family: blake;}
h1{font-size: 30px;font-family: steph; font-weight: normal;}
h2{font-size: 21px;font-family: steph; font-weight: normal; color: #0066b3;}
h3{font-size: 17px;font-family: steph; font-weight: normal;}
h4{font-size: 15px;font-family: steph; font-weight: normal; color: #0066b3;}
block,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}


body,html {
    line-height: 1.4;
	background-color: #f0f2f1;
}
header {
    background: #333032;
    padding: 7px 20px;
    width: 100%;
    margin: auto;
    font-family: steph;
    position: fixed;
}
nav {
    display: inline-block;
}
nav ul ol li a {
    background: #EEE;
    padding: 2px 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
    border-radius: 10px;

}
nav ul li a:hover {
	background: #FFF;
}
nav ul li {
    display: inline-block;
    margin: 10px;
}
nav ul {
    list-style: none;
}
#pageContent {
    max-width: 1000px;
    margin: auto;
    border: none;
}

#header_table{
    max-width: 90%;
    text-align: left;
}

#header_table img{
    max-width: 200px;
    vertical-align: middle;
    margin-right: 10px;
}

#header_table td{
    vertical-align: middle

}

main {
	float: left;
    width: 60%;
    padding-top: 5%;
    text-align: justify;
}
aside {
    width: 22%;
    max-width: 350px;
    min-width: 250px;
    background-color: white;
    position: fixed;
    left: 65%;
    top: 100px;
}
block {

    border-bottom: 2px;
    padding-bottom: 10px;
    margin-bottom: 10px;

}
block h2 {
    font-weight: normal;
    margin-bottom: 15px;
}

block h3 {
    font-weight: normal;
    margin-bottom: 10px;
}

block p {

}
main section {
	
}
footer {

	max-width: 1000px;
	margin: auto;
	clear: both;
	text-align: right;
}
footer p {
	padding: 20px;
}
address {
    padding: 10px 20px 30px 10px;
}
aside > div {
	margin: 20px auto;
    min-height: 50px;
}

aside_header {
    font-family: steph;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 20px;
    color: #0066b3;
}

aside_body li{
    margin: 10px 0;
    list-style: none;
    font-size: 15px;
    margin-right: 15px;
}

#logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-right: 75px;
    color: #FFF;
    text-align: center;
}
#logo img {
    width: 35px;
    vertical-align: middle;
    margin-right: 10px;
}

#logo a {
    color: white;
}

#index_pic img{
    width: 100%;
    vertical-align: middle;
    mix-blend-mode: multiply;
}


h1 img {
    max-width: 200px;
    vertical-align: middle;
    margin-right: 10px;
}


body > section {
    max-width: 1000px;
    margin: auto;
    padding: 30px 0px;
    border-bottom: 1px solid #999;
    color: #333;
}

@media screen and (max-width: 1000px) {
	body > section {
		padding: 30px 20px;
	}
}
@media screen and (max-width: 600px) {
	main {
		float: none;
		width: 100%;
	}
	aside {
		float: none;
		width: 100%;
	}

}

table.tableizer-table {
    font-size: 13px;
    border: 1px solid #CCC; 
    background: #FFF;
    width:50%; margin-left:25%; margin-right:25%


} 
.tableizer-table td {
    padding: 4px;
    margin: 5px;
    border: 1px solid #CCC;
}
.tableizer-table th {
    background-color: #78acd2; 
    color: #FFF;
    font-weight: bold;
    text-align: left;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;

}


a {
  color: #000;
  text-decoration: none;
}


input.upload{
    background-color: #0066b3;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-family: steph;
}

input.input{
    background-color: #0066b3;
    border: none;
    color: white;
    padding: 10px 32px;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-family: steph;
}

@font-face {
  font-family: blake;
  src: url('/static/fonts/Blake.ttf');
}

@font-face {
  font-family: steph;
  src: url('/static/fonts/Steph.ttf');
}

sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    bottom: -0.25em;
    vertical-align: baseline;

}

}

.in_table{
    display: table;
    padding: 10px 32px;
}

.in_row{
    display: table-row;

}

.in_cell_label{
    display: table-cell;
    width: 50%;
}

.in_cell_input{
    display: table-cell;
}




.in_table_parl{
    display: table;
    table-layout: fixed
}

.in_row_parl{
    display: table-row;

}

.in_cell_label_parl{
    display: table-cell;
    width: 42%;
}

.in_cell_input_parl{
    display: table-cell;
}

.in_cell_input_parl input {
    width: 75px;
}

.table_par{
    width: 100%;
}

.share_table{
    height: 400px;
    overflow-y: scroll;

}

.dataframe {
    width: 100%;
    font-size: 10pt; 
    border-collapse: collapse; 
    line-height: 10px;
}

.dataframe td, th {
    padding: 5px;
}

.dataframe tr:nth-child(even) {
    background: #E0E0E0;
}

.dataframe tr:hover {
    background: silver;
    cursor: pointer;
}

.dataframe th {
  color: #1d66b2;
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}


b {
    color: #1d66b2;
    font-weight: normal;
}


.icon{
      background-color: #f1f2f1;
      border: none;
      color: #1c65b2;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      padding: 5px 10px;
      font-size: 14px;
}

.icon img{
    width: 60px;
}

.icon_row{
    width: 75%;
}

.tab {
  overflow: hidden;
  background-color:#f1f2f1;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  padding-top: 15px;
  text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    width: 49%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #1c65b2;
}

/* Style the tab content */
.tabcontent {
  display: none;
}


.vl {
  border-left: 2px #1c65b2;
  height: 20px;
}


.comment input{
    width: 77%;
}


.abbreviation{
    width: 100%;
}


.abbreviation li {
    list-style-type: none;
}

.abbreviation ul {
    padding-left: 0px;
    font-size: 14px;
}

.p_lev0{padding-left:1em}
.p_lev1{padding-left:2em}
.p_lev2{padding-left:3em}
.p_lev3{padding-left:4em}
.p_lev4{padding-left:5em}

.pc{
    font-size: 13px;
    background: white;
    width: 100%;
}

.docs{
    width: 100%;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }
.hover_img img {width: 500px; }

.doc_table{
    width: 100%;
}







